node_modules
dist
.output
.vinxi
pnpm-lock.yaml
package-lock.json
bun.lock
routeTree.gen.ts
node_modules
dist
build
generated/
.*
logs/
*.prisma
coverage
.next
.out
.env
.env.*
bun.lock
package-lock.json
pnpm-lock.yaml
yarn.lock